canvas {
    /* padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto; */
    display: block; */

    margin: 0;
    padding: 0;
    /* width: 100vw;
    height: 100vh; */
    /* border: 1px solid black; */
    cursor: none;
}

html, body, div{
    margin: 0;
    padding: 0;
}

* {
  margin: 0;
  padding: 0;
}
