canvas {
    /* padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block; */

    margin: 0;
    padding: 0;
    /* width: 500px;
    height: 500px; */
    border: 1px solid black;
    cursor: none;
}

html, body, div{
    margin: 0;
    padding: 0;
}
