body{
  background-image: url("../img/Space.png");
  background-position: center;
}

h1{
  color: Red;
  text-align: center;
  font-family: "Lucida Console";
}

h4, span{
  order: 1;
  color: gray;
  text-align: center;
  font-family: "Lucida Console";
}

h3{
  color: white;
}

#mission-assignments {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#lobby-buttons {
  order: 2;
  display: flex;
  flex-direction: row;
}

#refresh-button {
  order: 1;
}

#signout-button {
  order: 2;
}

#username-display {
  /* text-align: right; */
}

.ship {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-list {
  width: 50%;
  position: absolute;
  left: 25%;
}


.game-list p:hover{
  background-color: white;
}
.game-list p:active{
  background-color: black;
}

.game-list p {
  background-color: gray;
  color: black;
  text-align: center;
}
